/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#company-name {
    width: 355px;
    height: 75px;
    text-indent: -999em;
    background: transparent url("new_unm_logo.gif") no-repeat scroll 0% 0%;
    margin: 0px 0px 10px 10px;
}
.ticket_save{
border: 0px none;
background: #C10037 none repeat scroll 0% 0%;
color: #FFF;
font-weight: bold;
width: 15%;
padding: 10px;
border-radius: 3px;
}

